# collection type
- 1.list
- 2.tuple
- 3.set
- 4.dictionary

# list:
## one of the data structure in python
## data structure means to store,sort and search in options
## it is a common data structure in python,the items in a list are separated by comma and enclosed in[]
## list can store different data types(heterogenous data)

In [3]:
#example
list1=[1,2,3,4,5]
print(list1)
type(list1)

[1, 2, 3, 4, 5]

list

In [5]:
list2=[1,1.23,"hyd","tech"]   # heterogenous type of data
list2

[1, 1.23, 'hyd', 'tech']

In [11]:
# Accessing the list elemnts:
list1=[1,2,3,4,5]
print(list1[0])
list1[-1]
list1[-3]

1

3

In [29]:
list1=[1,2,3,4,5]
list1[0:3] # start and stop values
list1[0:5:2] # start:stop:step (by defult step value is 1)
list1[2:] # start value upto end of the list
list1[::2]

[1, 3, 5]

In [30]:
del list1[0]

In [31]:
list1

[2, 3, 4, 5]

In [32]:
# Basic list operations
list1=[1,2,3,4,5]
len(list1) # displays the length of the list

5

In [33]:
print(list1*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [37]:
2 in list1

True

In [42]:
# Accessing the list elements with the loop
list1=[1,2,3,4]
for i in range(len(list1)):
    print(list1[i])

1
2
3
4

In [43]:
for i in [1,2,3,4]:
    print(i,end=" ")

1 2 3 4

In [46]:
# Basic list functions
list1=[1,2,3,4]
print(max(list1))
print(min(list1))
print(sum(list1))
sum(list1)/len(list1) # Gives the average of the list

4
1
10

2.5

In [63]:
# List menthods
list1=[1,2,3,4]
list1.append(5) #adds the element to the end of the list
list1.insert(2,6) # Adds an  element at the given index of the list
list1.count(3) # Displays the no of time anumber is repeated
list1.pop()

5

In [74]:
list1=[1,2,3,4]
list1.pop()

4

In [75]:
list1

[1, 2, 3]

In [76]:
list1.pop(1)

2

In [77]:
list1

[1, 3]

In [79]:
list1=[1,2,3,4,5]
print(list1)
list1.index(3) # Returns the index value of the given value

[1, 2, 3, 4, 5]

2

In [80]:
print(list1)
list2=[6,7,8]
list1.extend(list2) # Adds list2 elemsnts to extend list1
list1

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 6, 7, 8]

In [81]:
li=[1,2,3,4]
print(li)
li.reverse() # Prints the list in reverse order
print(li)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [82]:
list1=[1,8,4,7,23]
list1.sort() # sorts the elements of the list
list1

[1, 4, 7, 8, 23]

In [83]:
list1[::-1]

[23, 8, 7, 4, 1]

# Tuples
## Tuples are enclose in paranthesis ()
## Tuples are immutable i.e., we cannot modify the elements of the tuple

# Differences between tuple and list
## tuples-->() and list-->[]
## List is mutable(can modify the data),but tuple is immutable(cannot modify)

In [86]:
tuple1=(1,2,3,4)
print(tuple1)
type(tuple1)

(1, 2, 3, 4)

tuple

In [87]:
tuple2=(1,1.23,"dvevvwb")
tuple2

(1, 1.23, 'dvevvwb')

In [88]:
help("tuple")

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=2147483647, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

# Dictionary:

## Enclosed in {} 
## Dictionary consists of key and value pairs separated by colon(:)
## Each key and value pair is separated by comma(,)
## keys should be unqiue,values may repeat

In [89]:
# Example
d1={"name":"gitam","roll-no":1234,"address":"hyd"}
d1

{'name': 'gitam', 'roll-no': 1234, 'address': 'hyd'}

In [90]:
d1["name"]

'gitam'

In [91]:
d1["email"]="gitam@gmail.com" # Adding one pair to the dictionary
d1

{'name': 'gitam',
 'roll-no': 1234,
 'address': 'hyd',
 'email': 'gitam@gmail.com'}

In [92]:
# Adding one more entry
d1["course"]="python"
d1

{'name': 'gitam',
 'roll-no': 1234,
 'address': 'hyd',
 'email': 'gitam@gmail.com',
 'course': 'python'}

In [93]:
d1.keys() # Displays all the keys form the dictionary

dict_keys(['name', 'roll-no', 'address', 'email', 'course'])

In [94]:
d1.values() # Displays all the values from the dictionary

dict_values(['gitam', 1234, 'hyd', 'gitam@gmail.com', 'python'])

In [95]:
d1.items() # Rteurns the complete pairs from the dictionary

dict_items([('name', 'gitam'), ('roll-no', 1234), ('address', 'hyd'), ('email', 'gitam@gmail.com'), ('course', 'python')])

In [96]:
print(d1)
del d1["name"] # Delets the value of the corrsponding key name

{'name': 'gitam', 'roll-no': 1234, 'address': 'hyd', 'email': 'gitam@gmail.com', 'course': 'python'}

In [97]:
d1

{'roll-no': 1234,
 'address': 'hyd',
 'email': 'gitam@gmail.com',
 'course': 'python'}

## Function to find the factorial of a number
## Input:5[5* 4 * 3 * 2 * 1]
## Output=120

# Function to check for strong number or not
## Input:145
## Output:strong number opr not

In [12]:
def factorial(n):
    mul=1
    while n!=0:
        r=n
        mul=mul*r
        n=n-1
    return mul
factorial(5)

120

In [15]:
def digitfactorsum(n):
    s=0
    buffer=n
    while n!=0:
        r=n%10
        s=s+factorial(r)
        n=n//10
    if buffer==s:
        print("strong number")
    else:
        print("not a strong number")
digitfactorsum(145)

strong number

# Strings

In [16]:
s1="python"
print(s1)
type(s1)

python

str

In [17]:
#Accessing the first character
print(s1[0]) #Print first char
print(s1[-1]) #prints the last char
print(s1[2:5]) #Prints the characters from index 2 to 5 with step1
s1[::2] #prints the characters from first to last with step 2

p
n
tho

'pto'

In [20]:
s1="python"
print(s1)
print(s1[1:]) #Prints the string from index 1
print(s1[3:]) #Prints the string from index 3
print(s1[:4]) #Prints the string from index 0 to index 3

python
ython
hon
pyth

In [23]:
str1="mom"
print(str1)
print(str1[::-1])
if str1==str1[::-1]:
    print("palindrome")
else:
    print("not palindrome")

mom
mom
palindrome

In [28]:
#Built in methods
s1="python"
s2="py2372364"
s3="123"
print(s1.upper())
print(s1.lower())
print(s3.isnumeric())
print(s1.isalpha())
print(" ".join(s1))

PYTHON
python
True
True
p y t h o n