# introduction to phython programming

# markdown

# markdown

## markdown

In [2]:
"i am rithvik"

'i am rithvik'

"i am rithvik"

* "i am rithvik"

* * "my name is rithvik"

rithvik

* normal text--sub

![image]()

[drive](https://drive.google.com/drive/my-drive)

In [7]:
print("hello world")

hello world

In [8]:
print("hello world")
print("this is rithvik")

hello world
this is rithvik

In [9]:
print("hello",end="gitam")
print("hi")

hellogitamhi

In [10]:
a=2
b=4
c=a+b
print(c)

6

In [11]:
a = "python"
b = "p"
type(a)
c=10
type(c)

int

In [12]:
a=10.5
type(a)

float

In [13]:
a=10.5
print(type(a))
id(a)

<class 'float'>

65656688

In [1]:
name = "rithvik"
age = "20"
print("my name is",name,"and age is",age)

my name is rithvik and age is 20

In [3]:
a=input("enter the string")
b=input("enter a number")
c=a+b
print(c)

enter the string2
enter a number2
22

In [7]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=a+b
print(c)

enter a number20
enter a number40
60

In [8]:
x=10
print(x)
type(x)

10

int

In [9]:
x=complex(12)
x

(12+0j)

# operators

In [10]:
c1=1+2j
c2=2+3j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(3+5j)
(-1-1j)
(-4+7j)

In [11]:
a=True
type(a)

bool

In [12]:
a>b

False

In [15]:
a<b

True

In [16]:
s1='abc'
s2="abc"
print(s1)
s2

abc

'abc'

In [17]:
type(s1)
type(s2)

str

In [18]:
i=100
print(type(1))

<class 'int'>

In [19]:
s1=str(i)
print(s1)
type(s1)

100

str

In [20]:
f1=float(i)
print(f1)

100.0

In [21]:
c1=complex(i)
print(c1)

(100+0j)

In [22]:
s=100
print(type(s))

<class 'int'>

In [23]:
a=int(s)
type(a)

int

In [24]:
f=2.3
type(f)

float

In [25]:
a1=int(f)
type(a1)

int

In [26]:
a='123456'
len(a)

6

In [32]:
a='10.5'
len(a)

4

In [28]:
a=1
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

3
-1
2
0.5
1
0
1

# logical operators

In [29]:
x=4
y=5
print(x>=5 and x<10)
print(y>=5 and y<10)
print(not(x))

False
True
False

# relational operators

In [30]:
a=2
b=4
print(a!=b)

True

# conditional operator

* * if
* * elif 
* * else

In [3]:
a=10
if a>0:
    print("a is positive")
elif a<0:
    print("a is negative")
else:
    print("doesnot exist")

a is positive